github_tags.txt
/Images for Procedures
**/Thumbs.db

# Many of our notes contain screenshots of slides that may be confidential

# Each such file is copied and has "SCREENSHOTS" added to its name
# The files on GitHub are the copies with the screenshots removed
/Notes/Webinar Notes/**/*SCREENSHOTS*

/Notes/Clinical Goals & Rx's/SUNSET 5, 6, 8, 10, or 15 Fx 'SBRT' Central Lung.pdf  # Slide from an ARRO presentation
/Notes/Clinical Goals & Rx's/NCCN Anal.pdf
/Notes/Clinical Goals & Rx's/Mobius DVH Chart - Shortcut.lnk

# Procedures
/Procedures/New Physics Employee To-Do List.docx
/Procedures/Pinnacle/Archive a Patient in Pinnacle.docx
/Procedures/Pinnacle/Unarchive a Patient in Pinnacle.docx
